/*------------------------------------------------*/
/*-------------------[BASE]-----------------------*/
/*------------------------------------------------*/

html {
	font-size: 16px;
}

body {
	background: $primary-color;

}
h1, h2, h3, h4, h5, h6 {
	font-family: $main-font;
}

// Utilidades
.u-loading {
	position: absolute;
	top: 20%;
	left: 50%;
	display: none;
}

.datepicker {
	z-index: 1080;
}

.alerta {
	position: absolute;
	margin-top: 160px;
	right: 5rem;
	max-width: 40%;
	top: 0;
	opacity: 0;
	@include anim(.3s);
	
	&.muestra {
		opacity: 1;
		@include anim(.3s);
	}
}

.panel {
	@include rounded(4px);
	border: 0px none;
	box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.08), 0px 1px 6px 0px rgba(0, 0, 0, 0.08);
	margin-bottom: 20px;

	.panel-titulo {
		color: #fff;
		background: $primary-color;
		padding: .5rem 1rem;
		@include rounded(4px 4px 0 0);
		font-weight: 300;

		i {
			padding-right: .75rem;
		}
	}

	.panel-contenido {
		padding: .5rem 1rem;
	}

}

.contenedor {
	max-width: 1300px;
	display: block; 
	margin: 3rem auto;
}

// Contenido principal 
.main {
	font-family: $main-font;
	vertical-align: text-bottom;
	display: flex; /* or inline-flex */
	background-color: #fff;
	width: 100%;
	
	.main-content {
		padding: 2rem 0;
		@include anim();
	}

	.section-title {
		font-size: 1.6rem;
		font-weight: 300;
		text-align: center;
		margin: .5rem 0 3rem;
	}
	
}

