/*---------------------------------------------------*/
/*-------------------[MODALES]-----------------------*/
/*---------------------------------------------------*/

.modal-reservar {
	
	.fecha-reserva {
		width: 50%;
		float: left;
		padding: 0px 1rem 0px 0px;
		margin-bottom: 1rem;
	}
	.ciclo-reserva {
		width: 50%;
		float: left;
		padding: 0px 0 0px 1rem;
		margin-bottom: 1rem;
	}
}
.modal-recordatorio {
	
	.fecha-recordatorio {
		width: 50%;
		float: left;
		padding: 0px 1rem 0px 0px;
		margin-bottom: 1rem;
	}
	.recordatorio {
		width: 100%;
		float: none;
	}
}