/*---------------------------------------------------*/
/*-------------------[MODALES]-----------------------*/
/*---------------------------------------------------*/

// Modal multi
.modal-multi {
	
	.es-llamada {
		display: none;
	}
}


// Reservar para futuros ciclos
.modal-reservar {
	
	.fecha-reserva {
		width: 50%;
		float: left;
		padding: 0px 1rem 0px 0px;
		margin-bottom: 1rem;
	}
	.ciclo-reserva {
		width: 50%;
		float: left;
		padding: 0px 0 0px 1rem;
		margin-bottom: 1rem;
	}
}
// Crear recordatorio
.modal-recordatorio {
	
	.fecha-recordatorio {
		width: 50%;
		float: left;
		padding: 0px 1rem 0px 0px;
		margin-bottom: 1rem;
	}
	.recordatorio {
		width: 100%;
		float: none;
	}
}
// Edición de datos del prospecto
.modal-prospecto {
	
	.nombre,
	.correo,
	.pais, 
	.instrumento  {
		width: 50%;
		float: left;
		padding: 0px 1rem 0px 0px;
		margin-bottom: 1rem;
	}
	.apellidos,
	.telefono,
	.ciudad {
		width: 50%;
		float: left;
		padding: 0px 0 0 1rem;
		margin-bottom: 1rem;
	}
}
// Historial de interacciones
.modal-historial {
	
	.modal-lg {
		max-width: 900px;
		width: 900px;
	}
	.panel-historial {

		a.bar-title {
			color: #444;

			span {
				@include rounded();
				background: #ddd;
				font-size: .9rem;
				margin-right: 1.5rem;
				padding: .25rem .8rem;
			}
		}
	}

}