/*!
Author: Alejandro Sobrevilla Viveros - Soluciones Hipermedia
Author URI: http://www.solucioneshipermedia.com/
Description: Estilos del CS Musinetwork
Version: 2.0
*/

/* Support
------------------------------------------*/
@import "support/_data-mixins.scss";
@import "support/_bootstrap.scss";
@import "support/_font-awesome.scss";
@import "support/_fonts.scss";
@import "support/_animate.scss";
@import "support/_bootstrap-datepicker.scss";

/* Project styles
------------------------------------------*/
@import "base.scss";
@import "header.scss";
@import "footer.scss";
@import "forms.scss";
@import "monitoring.scss";
@import "modales.scss";

// .main { background: peru !important; }

.contenido {
	display: none;
}


// Configuración
.configuracion-form {

	.campos-fechas {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		
		.field {
			margin-bottom: 1.5rem;
			width: 25%;
			padding: 0 2.5%;
		}
	}
}

// nuevo-registro-form

.nuevo-registro-form {
	
	.datos-generales {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;

		.field {
			margin-bottom: 1.5rem;
			width: 25%;
			padding: 0 2.5%;
			
		}
	}
	
	.info-adicional {
		
		.sub-titulo { margin: 1.5rem 0 }

		.caja-opciones {
			background: #eee;
			padding: 1rem;
			@include rounded(4px);
			margin: .5rem 0;
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;

			.fancy-check {
				width: 33%;
			}
		}

		.info-sobre {
			padding: 1rem 0;
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;

			.fancy-check {
				width: 33%;
				margin-bottom: .5rem;
			}
		}
	}

} 

// mensaje
.enviar-mensaje {

	
	.destinatarios {
		border: #eee 1px solid;
		@include rounded(.5rem);
		padding: 1rem 1.5rem;
		background: #f6f6f6;
		margin-bottom: 2rem;

		ul {
			@include ul-base;

		}		
	}
	.tipo-mensaje {
		margin-bottom: 2rem;
	}

	.redactar-mensaje {
		padding-top: 1rem;
		margin: 0 auto 2rem;

		.mensaje-asunto {
			margin-bottom: 1rem;
		}
		.mensaje-contenido textarea {
			height: 200px;
		}

	}
	.firmas-mensaje {
		margin: 0 auto 2rem;
	}
	.comentarios-adicionales {
		padding-top: 1rem;
		margin: 0 auto 2rem;
	}
}

//  Login form
.login-form {
	max-width: 320px;
	display: block; 
	margin: 3rem auto;

	.usuario, .clave {
		padding-bottom: 2rem;
	}

}